**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstartsettings
**/.toolstartsettings.json
**/bin
**/build
**/dist
**/node_modules
**/npm-debug.log
**/obj
**/out
**/*.bak
**/*.tmp
**/.vs
**/.vscode
**/launchSettings.json
.dockerignore
.gitignore
*.md
LICENSE
Docs
